* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}
body{
  font-family:"Open Sans", sans-serif;
}
.required{
	color: red;
}
.container{
    margin-top: 50px; 
    margin-bottom: 50px;  
}
.site-content{
  margin-bottom: 0px !important;
}
.page-content{
  background-color: white;
  width: 100%;
}