.cart_item .product-quantity{
    overflow: hidden !important;
}
.cart_item .quantity{
    margin-right: 23px;
    float: right;
    @include breakpoint($bp-tablet){
        margin-left: 0px;
        margin-right: 31px;
    }
    @include breakpoint($bp-desktop){
        margin-left: 0px;
        margin-right: 0px;
        float: none;
    }
}
.woocommerce-page table.cart td.actions .coupon input{
    font-size: 9px;
    @include breakpoint($bp-tablet){
        font-size: 15px;
    }
}
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
    padding: 13px 7px !important;
    margin-right: 10px;
}
.woocommerce-cart{
    .woocommerce .quantity .qty{
        width: 170% !important;
    }
}