#coupon-popup{
    .modal-content {
        width: 100% !important;
        @include breakpoint($bp-tablet){
            width: 85% !important;
        }
        @include breakpoint($bp-desktop){
            width: 50% !important;
        }
        overflow: hidden;
    }
    .close{
        margin-top: -20px;
    }
    .field-group{
        label{
            font-weight: bold;
        }
        input{
            background-color: #dcdcdc;
            width: 35%;
            margin-bottom: 10px;
        }
    }
}
.copoun-modal-title{
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
    // text-align: left;
}
.copoun-modal-description{
    font-size: 13px;
    margin: 10px 0px;
    // text-align: left;
}