.site-header:before, .site-footer:before, .banner:after{
    background: none;
}
.banner {
    .banner-text{
        @include breakpoint($bp-tablet){
            top: 4vw;
        }
        .text{
            text-align: center;
            .btn{
                display: none;
            }
        }
    }
}
.woocommerce-loop-product__title{
    font-weight: bold;
}
.home .woocommerce-ordering{
    margin-bottom: 25px; 
    float: right;
}