fieldset{
    border: none;
}
.addon-section{
    h2.title{
        font-weight: bold;
        font-size: 1.5em;
    }
}
h3.addon-title{
    font-size: 1.2em;
    font-weight: bold;
}
.woocommerce div.product .woocommerce-tabs .entry-content .comment-reply-title{
    font-size: 27px !important;
    @include breakpoint($bp-tablet){
        font-size: 35px !important;
    }
}
fieldset{
    @include span(12 of 12);    
}
// .quantity{
//     @include span(2.5 of 12);    
//     @include breakpoint($bp-tablet){
//         @include span(1.3 of 12);    
//     }
//     @include breakpoint($bp-desktop){
//         @include span(1.5 of 12);    
//     }
// }
// .single_add_to_cart_button{
//     @include span(9 of 12 last);
//     @include breakpoint($bp-tablet){
//         @include span(5 of 12 last);    
//     }
// }

.addon-options span:last-child{
    display: block; 
    float: none;
    @include breakpoint($bp-tablet){
        display: inline; 
        float: right;
    }
}
.variations_form fieldset{
    margin: 0 1%;
    width: 108%;
    @include breakpoint($bp-tablet){
        width: 102%;
    }
}
.woocommerce .quantity .qty{
    width: 100%;
}
.quantity{
    @include span(2 of 12);    
    @include breakpoint($bp-tablet){
        @include span(1.3 of 12);    
    }
    @include breakpoint($bp-desktop){
        @include span(1.5 of 12);    
    }
}
.single_add_to_cart_button{
    @include span(9 of 12 last);
    @include breakpoint($bp-tablet){
        @include span(6 of 12 last);    
    }
}
.woocommerce div.product form.cart .button{
    padding: 10px 35px 10px 36px !important;
}
.woocommerce div.product form.cart .button:before{
    left: 10px !important;
}

.pine_alph_qty{
    width: 50%;
    @include breakpoint($bp-tablet){
        float: none;
        width: 15%;
    }
}
.pine_alph_ccs{
    margin-bottom: 5px;
}

.num-option span:last-child input{
    width: 53%;
    @include breakpoint($bp-tablet){
        width: 18%;
    }
    @include breakpoint($bp-desktop){
        width: 50%;
    }
}